
.Link {
  text-decoration: none;
  color: white;
}

.u-app-route {
  min-height: 80vh;
}
.u-app {
  min-height: 90vh;
}
.navClass{
  width: 100%;
  height: 50px;
  background: gray;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 2rem;
  z-index: 0;
}

.loginClass{
 color:white;
 cursor: pointer;
 text-align: center; 
 height: 100%;
 margin: auto 0;
 display: flex; 
 align-items: center;
}


.logoutClass{
   color:  white;
   cursor: pointer;
   text-align: center;
   height: 100%;
   margin: auto 0;
   display: flex;
   align-items: center;
}


.footerClass{
  text-decoration: none ;
  color: white;
}


.headerAboutUsClass{
  text-align : center; 
  padding :  0 20px;
}


.HeaderParClass{
  width: 35rem ;
  margin : auto;
  text-align: center;
  font-size: 25px;
 
}

.carouselClass{
  width :25%;
  margin :auto;
  padding-top: 100px;
}

.carouselClass img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.carouselClass h3{
  position: relative;
  top: 50%;
  color: black;
}

.contactClass{
  padding-top: 100px;
  width: 60%;
  margin: auto;
}

.contactClass h3{
  font-size: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.contactClass label{
  text-align: left;
}


.contactClass input   {
  width: 230px;
  height: 70px;
  background-color:#f2f2f2;
}


.contactClass textarea{
  height: 200px;
  background-color :#f2f2f2;
}

button{
  width: 200px;
  height: 50px;
}


.infoClass img{
  width: 130px;
  margin-left: 130px;
  margin-top: 200px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 10px;
}


.infoClass h3  {
   margin-left: 120px;
   padding-top: 20px;
   
}

.infoClass p{
 text-align: center;
 padding-left: 20px;
}

.u-main-search {
width: fit-content;
position: relative;
margin: auto;

}
.u-main-search div{
position: absolute;
top: 0;
right: 0;
}
.u-main-search input {
  outline-width: 0;
  height: 52px;
  border-radius: 25px 25px 25px 25px;
  padding: auto 5rem;
}
.u-main {
  border : solid black;
  margin: 3rem auto;
  min-height: 100vh;
  padding:3rem;
  background: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 2rem
}
.map {
  height: 100%;
}

.map-container {
  height: 400px;
  width: 400px;
  margin-top: 5rem ;
  }

  


  .createEvContainer{
   
    width: 60%;
    margin: auto;
    
  }

  .createEvContainer h2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color:white;
    font-weight: bold;
    
  }

  
  /* body{
 
  
background-image : linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url("https://www.cityofgastonia.com/images/60776786_1109751102559731_7345825498565443584_o.jpg");
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  
  
} */

.formDiv{
  background-color:white;
  text-align: center;
  
  
  

}

.formDiv input ,.formDiv textarea {
  width: 40%;
  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
  background-color: #DCDCDC;
  
}

.mapClass{
 padding-top: 20px;
  width: 50%;
  margin: auto;

  
}

.deaialsContainer{
  margin-left: 50px;
  display: flex;
  justify-content: space-around;

}

.deaialsContainer h2 , h4{
  padding: 30px;
}

.deaialsContainer p{
  width: 300px;
}

.deaialsContainer img{
  width: 500px;
}
 .userInfo {
   display: flex;

 }

 .userInfo img{
   width: 70px;
   margin-top: 30px;
 }

 .userInfo h4{
   margin-top: 30px;
 }

 .par{
   margin-top: 30px;
 }

 span{
   font-weight: bold;
 }

 

.rightDetails h3 {
  padding-top: 20px;
}

.comments{
  width: 60%;
  border: 1px solid grey;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 130px;
}

.comments h2{
  margin: 30px;
  padding-bottom: 30px;
}

.containComments{
  width: 100%;
}

.userComment {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  border: 1px solid black;

  
}

.userComment img{
  width: 80px;
  margin-left: 150px;
  margin-right: 20px;
}

 button{
  width: 100px;
  height: 40px;
  position: relative;
  left: 5%;
  
}





  
  